body, html {
  font: normal normal 1.2vw/1.5vw 'Helvetica';
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex .left {
  width: 50%;
}

.flex .right {
  width: 40%;
}

.section {
  margin-top: 6.25vw;
}

.work-left-column {
  margin-top: -75px;
}

.work-right-column {
  margin-top: 20px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1200px;
  z-index: 2;
}

.intro-section {
  padding-top: 50px;
  width: 93vw;
  margin: 0 auto;
}

h1 {
  font: 300 normal 6.2vw/6.2vw 'Helvetica';
  letter-spacing: -2px;
}

h1.h1-title::first-letter {
  margin-left: -9px;
}

h2 {
  font: 300 normal 2.8vw/3.7vw 'Helvetica';
}

h3 {
  font: 800 normal 1.8vw/2.2vw 'Helvetica';
  margin-bottom: 2.5vw;
  text-transform: up;
}

h4 {
  font: 800 normal 1.4vw/1.8vw 'Helvetica';
}

span.description {
  font: 300 normal 2vw/2.6vw 'Helvetica';
}

span, p {
  font: 300 normal 1.4vw/1.8vw 'Helvetica';
  display: block;
}

h1.work-left {
  font: normal normal 7vw/7vw 'Helvetica';
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 7vw;
}

.sub-skill {
  /* margin-left: 1.2vw; */
}

.work-intro{
  margin-top: 2.25vw;
}
.work-intro h2{
  font: 300 normal 2.8vw/3.7vw 'Helvetica';
  margin-top: 6.25vw;
}

/* Work */
.work {
  /* margin-top: 2.25vw; */
  margin-top: 6.25vw;
}

.sub-work {
  border-bottom: 1px solid;
  padding: 2.08vw 0;
}

.sub-work:first-child {
  border-top: 1px solid;
}

.sub-work .right h3 {
  font: 700 normal 1.5vw/1.6vw 'Helvetica';
}

.timeline h2 {
  font-weight: 600;
}

/* Timeline card */
.timeline-card-year {
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 19px;
  }
}

@media screen and (max-width: 700px) {
  .about h3 {
    font: 500 normal 5.4vw/5.8vw 'Helvetica';
  }

  .flex {
    flex-wrap: wrap;
  }

  .flex .left {
    width: 100%;
  }

  .flex .right {
    width: 100%;
  }

  h1 {
    font-size: 64px;
  }
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.header {
  height: 100vh;
  background-color: #000;
}

.time {
  color: #fff;
  padding: 50px;
}

.marquee-text {
  color: #fff;
}

.marquee-container {
  background: url("../images/marquee-1.png") repeat-x;
  height: 40vh;
  width: 5076px;
  /* position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0); */

  animation: slide 10s linear infinite;
}
