App {
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

.content {
  z-index: 2;
}

.intro {
  display: flex;
  height: 100vh;
  -webkit-box-align: end;
  align-items: flex-end;
}

nav {
  position: fixed;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;

  transition: 0.2s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  margin-right: 40px;
  padding-top: 30px;
}

nav:hover {
  padding-bottom: 30px;
  background-color: #f4f4f4;
}


@media screen and (max-width: 966px) {
  .intro {
    height: auto;
  }

  .content {
    padding-top: 220px;
  }
}